<div class="rounded-md bg-white shadow-xs">
  <div class="text-center">
    <h1 class=" font-medium">Tasks</h1>
  </div>

  <figure  class="" > 

    <div class="flex center mx-auto">
      <%= link_to "New Task", new_task_path %> 
    </div> 

    <ul>
      <h4>Pendding tasks:</h4>
      <blockquote>
      <% @tasks.each do |task|%>
        <% unless task.done %>
          <li class="px=2">
              <%= link_to task.title, task %>
          </li>
        <% end %>
      <% end %>
      </blockquote>

    </ul>

    <ul>
      <h4>Finished tasks:</h4>
      <blockquote>
      <% @tasks.each do |task|%>
        <% unless not task.done %>
          <li class="px=2">
            <%= link_to task.title, task %>
          </li>
        <% end %>
      <% end %>
      </blockquote>
    </ul>

  </figure>
</div>